doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/bs/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/public/style/main.css")
    body 
        .container.col-md-6.p-3(class="bg-light border")
            h1.display-2 Weather Today 
            hr
            h1.text-capitalize.display-5 #{data.current.weather[0].description}
                img( src=`http://openweathermap.org/img/wn/${data.current.weather[0].icon}@2x.png`, alt="", srcset="")
            table.table.table-striped
                tr 
                    th Temparature
                    th #{data.current.temp} ℃
                tr 
                    th Humidity
                    th #{data.current.humidity} %
                tr 
                    th Wind speed 
                    th #{data.current.wind_speed} Km/h
            .container.d-flex.justify-content-start.flex-nowrap(style="overflow-x: scroll;")
                for day in data.daily
                    - let dayName = new Date(day.dt * 1000)
                    - dayName = dayName.toLocaleDateString(locale, { weekday: 'long' })
                    .card.bg-light.border.m-2.p-2(style="min-width: 10rem;")
                        h4.card-title #{dayName}
                        //- h5.card-title #{day.weather[0].description}
                        img( src=`http://openweathermap.org/img/wn/${day.weather[0].icon}@2x.png`, alt="", srcset="")
                        h5.card-description #{Math.round(day.temp.max)}℃ - #{Math.round(day.temp.min)}℃



        script(src="/bs/dist/js/bootstrap.min.js") 
                